{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
  <div class="container">

    <div class="row">
      <form>
        <input type="text" name="article_query" placeholder="Search for an Article" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
      </form>
    </div>

    <div class="row">
      <h3>Results for: {{query}}</h3>
      <p> Found {{ articles | count }} matches </p>
      <hr>
      {% for article in articles %}
        <div class="col-xs col-sm-6 col-md-4 col-lg-4 wells"
        style="border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: rgb(223, 229, 230);
        height: 500px;
        overflow: scroll;">
        <h3 style="color:blue; text-decoration:underline">{{article.title}}</h3>
        <img src="{{article.image}}" alt="{{article.title}}" style="width:300px; height:200px">
        <p>{{article.description}}</p>
        <button type="button" class="btn btn-info"><a href="{{article.url}}">Read More</a></button>
        <p>Published on: {{article.date}}</p>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
