{% extends 'base.html' %}

{% block content %}

    <h1 style="text-align:center">{{id_up}}</h1>

    <div class="container">
      {% for article in articles %}
        <div class="col-xs col-sm-6 col-md-4 col-lg-4 wells"
        style="border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: rgb(223, 229, 230);
        height: 500px;
        overflow: scroll;">
          <h3 style="color:blue; text-decoration:underline">{{article.title}}</h3>
          <img src="{{article.image}}" alt="{{article.title}}" style="width:300px; height:200px">
          <p>{{article.description}}</p>
          <button type="button" class="btn btn-info"><a href="{{article.url}}">Read More</a></button>
          <p>Published on: {{article.date}}</p>
        </div>
      {% endfor %}
    </div>


{% endblock %}
